/* Table */
.table th {
    cursor: pointer;
}

tr:hover { background-color: #cce6ff;}

/* TABLE BACKGROUND color (match the original theme) */
table.hover-highlight td:before,
table.focus-highlight td:before {
  background: #fff;
}

/* ODD ZEBRA STRIPE color (needs zebra widget) */
.hover-highlight .odd td:before, .hover-highlight .odd th:before,
.focus-highlight .odd td:before, .focus-highlight .odd th:before {
  background: #ebf2fa;
}

/* FOCUS ROW highlight color (touch devices) */
.focus-highlight td:focus::before, .focus-highlight th:focus::before {
  background-color: lightblue;
}
/* FOCUS COLUMN highlight color (touch devices) */
.focus-highlight td:focus::after, .focus-highlight th:focus::after {
  background-color: lightblue;
}
/* FOCUS CELL highlight color */
.focus-highlight th:focus, .focus-highlight td:focus,
.focus-highlight .even th:focus, .focus-highlight .even td:focus,
.focus-highlight .odd th:focus, .focus-highlight .odd td:focus {
  background-color: #d9d9d9;
  color: #333;
}
/* ************************************************* */
/* **** No need to modify the definitions below **** */
/* ************************************************* */
.focus-highlight td:focus::after, .focus-highlight th:focus::after,
.hover-highlight td:hover::after, .hover-highlight th:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 999em;
  left: 0;
  top: -555em;
  z-index: -1;
}
.focus-highlight td:focus::before, .focus-highlight th:focus::before {
  content: '';
  position: absolute;
  width: 999em;
  height: 100%;
  left: -555em;
  top: 0;
  z-index: -2;
}
/* required styles */
.hover-highlight,
.focus-highlight {
  overflow: hidden;
}
.hover-highlight td, .hover-highlight th,
.focus-highlight td, .focus-highlight th {
  position: relative;
  outline: 0;
}
/* override the tablesorter theme styling */
table.hover-highlight, table.hover-highlight tbody > tr > td,
table.focus-highlight, table.focus-highlight tbody > tr > td,
/* override zebra styling */
table.hover-highlight tbody tr.even > th,
table.hover-highlight tbody tr.even > td,
table.hover-highlight tbody tr.odd > th,
table.hover-highlight tbody tr.odd > td,
table.focus-highlight tbody tr.even > th,
table.focus-highlight tbody tr.even > td,
table.focus-highlight tbody tr.odd > th,
table.focus-highlight tbody tr.odd > td {
  background: transparent;
}
/* table background positioned under the highlight */
table.hover-highlight td:before,
table.focus-highlight td:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -3;
}

/* General */
.row{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.headrow{
    margin-top:5px;
    margin-bottom:5px;
}

/*Loader */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.reactable-page-button {
	padding-right: 10px;
}

/* Model Table */
.ReactTable .-pagination{
	width:100%;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:box;
	display:flex;
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-o-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-o-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	padding-top:3px;
}
.ReactTable .-pagination .-btn{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display:block;
	width:100%;
	border:0;
	border-radius:3px;
	padding:6px;
	font-size:1em;
	color:rgba(0,0,0,0.6);
	background:rgba(0,0,0,0.1);
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	-ms-transition:all 0.1s ease;
	transition:all 0.1s ease;
	cursor:pointer;
	outline:none;
}
.ReactTable .-pagination .-btn[disabled]{
	opacity:.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	cursor:default
}

.ReactTable .-pagination .-btn:not([disabled]):hover{
	background:rgba(0,0,0,0.3);
	color:#fff
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-center,
.ReactTable .-pagination .-next{
	margin:3px 0
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	text-align:center
}

.ReactTable .-pagination .-center {
	-webkit-box-flex:1.5;
	-moz-box-flex:1.5;
	-o-box-flex:1.5;
	box-flex:1.5;
	-webkit-flex:1.5;
	-ms-flex:1.5;
	flex:1.5;
	text-align:center;
	margin-bottom:0;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:box;
	display:flex;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-o-box-orient:horizontal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-o-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-pack:distribute;
	-moz-box-pack:distribute;
	-o-box-pack:distribute;
	-ms-flex-pack:distribute;
	-webkit-justify-content:space-around;
	justify-content:space-around;
}

.ReactTable .-pagination .-pageInfo{
	display:inline-block;
	margin:0 10px 3px;
	white-space:nowrap
}

.ReactTable .-pagination .-pageJump{
	display:inline-block;
}

.ReactTable .-pagination .-pageJump input{
	width:70px;
	text-align:center
}

.cell:hover{
  stroke: #F00;
  stroke-width:2.5px;
  cursor: pointer;
}

.navbar-default {
	background-color: #000000;
	border-color: #000000;
}

#logOutButton {
	margin-top: 8px;
    margin-right: 10px;
	position: absolute;
    top:0;
    right:0;
}

#SetButton {
	position: relative;
	margin-right: 5px;
	margin-left: 5px;
	right:0;
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}

.row.content {height: 850px}

