<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Evaluation Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
  <!-- stylesheets -->
  {{ flask_util_js.js }}
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/react-datepicker.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">
</head>

<body>

  <!-- Scripts -->
  <script type='text/javascript' src="{{ url_for('static', filename='output.js') }}"></script>
  <script type="text/javascript" src="https://unpkg.com/react-vis/dist/dist.min.js"></script>
    <!-- Page Content -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand">
          <img class="pull-left" hspace="10px" src="{{ url_for('static', filename='favicon.ico') }}" height="25">
          Tyra: Evaluation Dashboard</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid center-container nopadding">
      <!-- messages -->
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{ message }}
        </div>

      {% endfor %}
      <!-- child template -->
      {% block content %}
      {% endblock %}

      <!-- errors -->
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

    </div>
	<!-- /.container -->

</body>

</html>
